<!DOCTYPE html>
{% load static %}

<html>
    <head lang="en">
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0" />

        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'style.css' %}">

        <script
src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js">
</script>
<script src="https://kit.fontawesome.com/deff53321c.js" crossorigin="anonymous"></script>


        <title>Five Seven Five 
            {% block title_block %}
                The Home of Haikus!
            {% endblock %}
        </title>
    </head>
    <body>
        <div id="navbar">
            <ul>
                <div class="nav-left">
                    <li><a href="{% url 'five_seven_five_app:index' %}">Home</a></li>
                    <li><a href="{% url 'five_seven_five_app:liked' %}">Liked</a></li>
                    <li><a href="{% url 'five_seven_five_app:following' %}">Following</a></li>
                </div>

                <div class="nav-center">
                    <li>
                        <form method="get" action="{% url 'five_seven_five_app:search' %}">
                        {% if query %}
                            <input type="text" name="q" value="{{ query }}" placeholder="Search.."/>
                        {% else %}
                            <input type="text" name="q" placeholder="Search.."/>
                        {% endif %}
                            <button type="submit">Search</button>
                        </form>
                    </li>
                </div>
                
                <div class="nav-right">
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'five_seven_five_app:logout' %}">Logout</a></li>
                        <li><a href="{% url 'five_seven_five_app:profile' user.username %}">My Profile</a></li>
                    {% else %}
                        <li><a href="{% url 'five_seven_five_app:register' %}">Register</a></li>
                        <li><a href="{% url 'five_seven_five_app:login' %}">Log In</a></li>
                    {% endif %}
                </div>
            </ul>
        </div>

        <div id="mainContent">
        {% block body_block %}
            This is body_block's default content.
        {% endblock %}
        </div>
        {% block post_block %}
        {% endblock %}
   
        <script src="{% static 'js/interactions.js' %}"></script>
    </body>
</html>