<!DOCTYPE html>
{% load static %}

<html>
    <head lang="en">
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <title>Five Seven Five 
            {% block title_block %}
                The Home of Haikus!
            {% endblock %}
        </title>
    </head>
    <body>
        <div id="navbar">
            <ul>
                <li><a href="{% url 'five_seven_five_app:index' %}">Home</a></li>
                <li><a href="{% url 'five_seven_five_app:liked' %}">Likes</a></li>
                <li><a href="{% url 'five_seven_five_app:following' %}">Following</a></li>
                <li>
                    <form method="get" action="/search/">
                        {% if query %}
                        <input type="text" name="q" value="{{ query }}" placeholder="Search.."/>
                        {% else %}
                        <input type="text" name="q" placeholder="Search.."/>
                        {% endif %}
                        <button type="submit">Search</button>
                    </form>
                </li>
            
                {% if user.is_authenticated %}
                    <li><a href="{% url 'five_seven_five_app:logout' %}">Logout</a></li>

                    <li><a href="{% url 'five_seven_five_app:profile' user.username %}">Profile</a></li>
        
                {% else %}
                    <li><a href="{% url 'five_seven_five_app:register' %}">Sign Up</a></li>
                    <li><a href="{% url 'five_seven_five_app:login' %}">Login</a></li>
                {% endif %}
            </ul>

        </div>

        <div id="mainContent">
        {% block body_block %}
            This is body_block's default content.
        {% endblock %}
        </div>
   
        </div>
    </body>
</html>