{% extends 'base.html' %} 
{% load static %}

{% block title_block %}
Edit Profile
{% endblock %}

{% block body_block %}
<div class="auth-page">
    <h1 class="form-title">Edit Profile</h1>
    <p class="form-subtitle">Update your bio or profile picture.</p>

    <form method="post" enctype="multipart/form-data" id="haikuPost">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" id="haikuSubmit">Save Changes</button>
        <a href="{% url 'five_seven_five_app:profile' profile %}" id="discard-btn"><strong>Discard Changes</strong></a>
    </form>
</div>
{% endblock %}