{% extends 'base.html' %} 
{% load static %}

{% block title_block %}

{% endblock %}

{% block body_block %}

    {% block feed_desc %}

    {% endblock %}

    {% if haikus %}
    {% for haiku in haikus%}
    <h1><a href="{% url 'five_seven_five_app:profile' haiku.username.username.username %}">
    {{ haiku.username.username.username }}</a></h1>
    
    <img src="{{ MEDIA_URL }}{{haiku.username.profile_picture}}"/>
    <p>{{haiku.haiku}}</p>

    <p>
    <a href="{% url 'five_seven_five_app:haiku_detail' haiku.id %}">View Details</a>
    </p>

    {% if haiku.haiku_picture %}
    <img src="{{ MEDIA_URL }}{{haiku.haiku_picture}}">
    {% endif %}
    

    {% endfor %}
    {% endif %}
{% endblock %}