{% extends 'base.html' %} 
{% load static %}

{% block title_block %}

{% endblock %}

{% block body_block %}
<div id="detailContainer">
<div class="haikuDetail">

    {% if haiku %}
        <div class="usernameCont">
        <img src="{{ MEDIA_URL }}{{haiku.username.profile_picture}}" class="profileImg"/>
        <h1><a href="{% url 'five_seven_five_app:profile' haiku.username %}">{{haiku.username}}</a></h1>
        </div>
        <pre>{{haiku.haiku}}</pre>
        {% if haiku.haiku_picture %}
            <img src="{{ MEDIA_URL }}{{haiku.haiku_picture}}">
        {% endif %}
    {% endif %}

</div>
<div class="commentContainer">
    <form>
        <input type="textarea" placeholder="Make a comment">
        <button type="submit">Search</button>
    </form>
    {% if comments %}
        {% for comment in comments %}
        <div class="usernameCont">
        <img src="{{ MEDIA_URL }}{{comment.username.profile_picture}}" class="profileImg"/>
        <p><a href="{% url 'five_seven_five_app:profile' comment.username %}">{{comment.username}}</a></p>
        </div>
        <p>{{comment.comment_text}}</p>
        {% endfor %}
    {% endif %}

</div>

</div>
{% endblock %}