{% extends 'feed.html' %} 
{% load static %}

{% block feed_desc %}
<h1>{{ profile.username }}</h1>
<img src="{{ MEDIA_URL }}{{profile.profile_picture}}">

    {% if user.is_authenticated %}
        {% if profile.username.username == user.username %}
        <p><a href="{% url 'five_seven_five_app:edit_profile' %}">Edit Profile</a></p>
        {% else %}
        <p> {{is_following}}</p>
        <button class="follow-btn" data-profile-username="{{ profile.username }}">
            
        {% if is_following %}
            Follow
        {% else %}
            Unfollow
        {% endif %}
        </button>
        {% endif %}
    {% endif %}
    <p id="follower-count"> {{follower_count}}
    {% if follower_count == 1 %}
         Follower
    {% else %}
          Followers
    {% endif %}
    </p>
<p>{{ profile.bio }}</p>
{% endblock %}
