{% extends 'feed.html' %} 
{% load static %}

{% block feed_desc %}
<div class="profile-header">
    <div>
        <div class="usernameCont">
    <img src="{{ MEDIA_URL }}{{ profile.profile_picture }}" class="profileImg">

    
        <h1>{{ profile.username }}</h1>
    
        

        {% if user.is_authenticated %}
            {% if profile.username.username == user.username %}
                <p><a href="{% url 'five_seven_five_app:edit_profile' %}" class="greyBtn">Edit Profile</a></p>
            {% else %}

                <button class="follow-btn" data-profile-username="{{ profile.username.username }}">
                    {% if is_following %}
                        Unfollow
                    {% else %}
                        Follow
                    {% endif %}
                </button>
            {% endif %}
        {% endif %}
        </div>

        <p>{{ profile.bio }}</p>

        <p>
            <span id="follower-count">{{ follower_count }}</span>
            <span id="follower-label">
                {% if follower_count == 1 %}
                    Follower
                {% else %}
                    Followers
                {% endif %}
            </span>
        </p>
    </div>
</div>
{% endblock %}
