{% extends 'base.html' %}
{% load staticfiles %}
{% block body_block %}
    <h1>Register with Five Seven Five</h1>
    {% if registered %}
        <p>Registration successful! <a href="{% url 'five_seven_five_app:login' %}">Login here.</a></p>
    {% else %}
        <form method="post" action="{% url 'five_seven_five_app:register' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            <input type="submit" value="Register" />
        </form>
    {% endif %}
{% endblock %}