{% extends 'base.html' %}
{% load static %}

{% block body_block %}
<div class="auth-page">
    <h1 class="form-title">Register</h1>
    <p class="form-subtitle">
        Create an account to start sharing your haikus
    </p>

    <p class="login-desc">
        Create an account to write, share, and connect through poetry.
    </p>

    <form method="post" action="{% url 'five_seven_five_app:register' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form.as_p }}
        <button type="submit">Register</button>
    </form>

    <p>
        Already got an account?
        <a href="{% url 'five_seven_five_app:login' %}">Log in</a>
    </p>
</div>
{% endblock %}